<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CanEastVending.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CanEastVendingWebServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:37926/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="CanEastVendingWebServicesSoap" contract="CanEastVendingWebServiceReference.CanEastVendingWebServicesSoap"
                name="CanEastVendingWebServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>