<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\100425724\Documents\Visual Studio 2012\WebSites\CanEastVending\Database.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CanEastVendingWebServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:37926/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="CanEastVendingWebServicesSoap" contract="CanEastVendingWebServiceReference.CanEastVendingWebServicesSoap"
        name="CanEastVendingWebServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>